@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Permanent+Marker:200&display=swap');


.navbar {
 background-color: #1D3461 !important;
 max-width: 100%;     
}
.navbar-toggler{
  background-color:aliceblue !important;
}

.nav-link {
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    color: white !important; 
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
    
}

.nav-item a:hover {
    color: #1D3461 !important;
    background-color: blanchedalmond;
}




.jumbotron-container{
    height: 40vh; 
    align-items: center; 
    justify-content: center;
    
    background-color:#FB3640; 
    color: aliceblue;
   
  }
  .section-headings{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: beige;
    
  }
  .quiz-image{
    background-color: #1D3461;

}

  .section-content {
    font-family: 'Permanent Marker', cursive;
    text-align: left;
    font-size: 20px;
    padding: 4px;
    margin: px;
    color:beige;
    align-items: center;
  }

  
  body{
      background-color: #FB3640;
      margin:0;
  }
  #button-section{
    
    align-items: center; 
    justify-content: center;
    padding: 2rem 0px;
  
    background-color:#1D3461;

  }

  .btn{
    padding: 10px 20px;
    font-size: 30px;
    background-color:#FB3640;
     
  }
  .btn:hover{
background-color: blanchedalmond !important;
color: #1D3461 ;
  }
  .btn:active,
  .btn:focus {
    background-color: white;
    color: #1D3461;
    transform: translateY(4px);
    border: 0;}

  .social-media-section{
    background-color: aliceblue;
  }
  .list-inline-item i {
    font-size: 30px;
    margin:0px;
  }

  .fa-facebook {
    background-color: #3B5998;
    color: white;
  }
  .fa-youtube {
    background: white;
    color: rgb(209, 17, 17);
  }
  .fa-instagram{
    background: white ;
    color: rgb(145, 6, 138);
  }
  .list-inline-item a i:hover {
    transform: translateY(2px);
  }
  
  @media only screen and (max-width: 600px) {
    .quiz-image {
      margin-top:0%
    }
    .section-headings {
      font-size: 35px;;
    }
  }

 /* --------------------------------------------> game page */

 .header{
  background-color:#FB3640;
  
}
 .counters-container{
   font-family:'Permanent Marker', cursive ;
   font-size: 20px;
   
   color:white;
   background-color: #1D3461 ;
   
   
 }
 .question-area{
   background-color: #1D3461 ;
 }
 
 .quiz-page-headings{
   color:white;
   font-family:'Lobster Two', cursive;
   font-weight: 700;
   font-style: italic;
   font-size: 40px;
   padding: 20px;
 }
 .question-content{
   font-size: 35px;
 }
.question-panel{
  background-color: #FB3640;
  color:white;
  font-family:'Permanent Marker', cursive ;
  font-size: 15px;
  font-weight: 300;
  
  height: 30vh;
  
}
.answers{
  background-color: white;
  font-family: 'Permanent Marker', cursive ;
  color: #1D3461;
  font-size:20px;
  margin: 0px 10px;
  
  margin-bottom: 10px;
  height:12vh;
  padding:15px;
}
.quiz-game-page{
  background-color: white;
}
.fa-volume-up,
.fa-volume-mute {
  float:left;
  font-size: 25px;
  padding: 10px;
}
#audio{
  background-color: white;
  border: white;
}

@media only screen and (max-width: 400px) {
  .question-content {
    font-size: 25px;
  }
  
}