@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400&display=swap');
.navbar {
 background-color: #1D3461 !important;

}
.navbar-toggler{
  color: #1D3461 !important;
  background-color:aliceblue !important;
  
}

.nav-link {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white !important; 
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin-right: 20px;
    
    
}

.nav-item a:hover {
    color: #1D3461 !important;
    background-color: blanchedalmond;
}

.jumbotron-container{
    height: 40vh; 
    align-items: center; 
    justify-content: center;
    
    background-color:#FB3640; 
    color: aliceblue;
   
  }
  .section-headings{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: beige;
    
  }
  .section-sub-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .quiz-image{
    background-color: #1D3461;

}

  .section-instructions {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 20px;
    padding: 4px;
    color:beige;
    align-items: center;
  }

  
  .main-page{
    background-color: #FB3640;
    margin:0;
  }
  #button-section{  
    align-items: center; 
    justify-content: center;
    padding: 2rem 0px;
    background-color:#1D3461;

  }

  .btn{
    padding: 10px 20px;
    font-size: 30px;
    background-color:#FB3640;
     
  }
  .btn:hover{
background-color: blanchedalmond !important;
color: #1D3461 ;
  }

  
  .btn:focus {
    background-color: white;
    outline-color: #1D3461;
    color: #1D3461;
    transform: translateY(4px);
    border: 0;}

  .social-media-section{
    background-color: aliceblue;
  }
  .list-inline-item i {
    font-size: 30px;
    margin:0px;
  }

  .fa-facebook {
    background-color: #3B5998;
    color: white;
  }
  .fa-youtube {
    background: white;
    color: rgb(209, 17, 17);
  }
  .fa-instagram{
    background: white ;
    color: rgb(145, 6, 138);
  }
  .list-inline-item a i:hover {
    transform: translateY(2px);
  }
  
  @media only screen and (max-width: 600px) {
    .quiz-image {
      margin-top:0%
    }
    .section-headings {
      font-size: 35px;;
    }
  }

 /* --------------------------------------------> game page */
 .quiz-page{
  background-color: #1D3461;
}
 
 .header-area{
  background-color:#FB3640;
  
}
 .counters-container{
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
    color:white;
   background-color: #1D3461 ;
   
 }
 .question-area{
   background-color: #1D3461 ;
 }
 
 .quiz-page-headings{
   color:white;
   font-family:'Permanent Marker', cursive;
   font-weight: 700;
   font-style: italic;
   font-size: 40px;
   padding: 20px;
 }
 .question-content{
   font-size: 30px;
   padding:10px;
 }
.question-panel{
  background-color: #FB3640;
  color:white;
  font-family:'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300; 
  height: 30vh;
  
}
.answers{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: #1D3461;
  font-size:20px;
  margin: 0px 10px;
  
  margin-bottom: 10px;
  height:12vh;
  padding:15px;
}
.quiz-game-page{
  background-color: white;
}
.answers:hover {
cursor: pointer;
-webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
        transform: scale(1.02);
}
.fa-volume-mute,
.fa-volume-up {
  padding: 10px;
  font-size: 25px;
  color: white;
  width: 30px;
}


#audio{
  background-color: #FB3640;
  border: #FB3640;
}

@media only screen and (max-width: 600px) {
  .question-content {
    font-size: 25px;
    padding: 0px;
    
  }
  
}
@media only screen and (max-width: 800px) {
  .jumbotron-container{
    margin-top: -30px;
    height: 35vh;
  }
  
}

table {
  background-color: white;
}
th, td {
  padding: 4px;
  border: 1px solid black;
}

.table-section {
  background-color: #1D3461;
}